* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}
:root {
    --header-bg: #10375c;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 0px 20px;
    height: 60px;
    line-height: 60px;
    background-color: #2e80ce;
    border-radius: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
}
.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background-color: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    background-color: white;
}
.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    color: #fff;
    font-size: 1.8em;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/*Navbar*/

.navbar {
}

.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}
.navbar__item--active {
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    color: #ffffff;
}
.navbar__item--active::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    left: -4px;
    top: -2px;
}
.header-action {
    display: flex;
    align-items: center;
}
.header-action__signup {
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}

/* Hero */
.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}
.hero__row {
    margin-top: 38px;
}
.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;

    color: #ffffff;
}
.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    margin-left: -6px;
    border-radius: 6px;
}

/* Service */
.service {
    padding: 170px 0px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
/*Service-list */
.service-item {
    padding: 22px;
    width: 470px;
    background-color: #fff;
    display: flex;
    transition: 0.25s;
}
.service-item:hover {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
}
.service-item__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    color: #10375c;
}
.service-item:hover .service-item__icon {
    color: #ffffff;
    background: #2e80ce;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
    border-radius: 30px;
    transition: 0.25s;
}
.service-item__body {
    margin-left: 20px;
}
.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    color: #10375c;
}

.service-item__desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service__btn {
    margin-top: 55px;
}

/* Work */
.work {
    padding: 100px 0px;
    background-color: #f7fbff;
}
.work__desc {
    width: 468px;
}
.work__item {
    background-color: #ffff;
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}
.work__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
    border-radius: 4px;
}
.work__list {
    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}
